<form (ngSubmit)="onAddIngradients(shoppingListForm)" #shoppingListForm="ngForm">
    <div class="row py-5">
      <div class="col-sm-6">
        <label for="">Name</label>
        <input type="text" 
        class="form-control" 
        placeholder="Name" 
        name="name"
        ngModel
        required>
      </div>
      <small id="passwordHelpBlock" class="form-text text-muted">
         
      </small>
      <div class="col-sm-6">
        <label for="">Amount</label>
        <input type="number" 
        class="form-control" 
        placeholder="Amount" 
        name="amount"
        ngModel 
        required
        pattern="^[1-9]+[0-9]*$">
      </div>
      <div class="col-sm-12 pt-4">
 
          <button 
          type="submit" 
          class="btn btn-primary mr-3"
          [disabled]="!shoppingListForm.valid">
          {{editingMode ? 'Update': 'Add'}}
        </button>

          <button *ngIf="editingMode" type="button" 
          class="btn btn-danger mr-3"
          (click)="onDelete()"
          [disabled]="!editingMode">Delete</button>
          <button type="button" 
          class="btn btn-success mr-3"
          (click)="onClear()"
          >Clear</button>
  
      </div>
    </div>
  </form>
